<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Fallback to local files in case CDN is down -->
    <script>
        let test = document.createElement("div")
        test.className = "hidden d-none"
    
        document.head.appendChild(test)
        let cssLoaded = window.getComputedStyle(test).display === "none"
        document.head.removeChild(test)
    
        if (!cssLoaded) {
            let link = document.createElement("link");
    
            link.type = "text/css";
            link.rel = "stylesheet";
            link.href = "/bootstrap/css/bootstrap.min.css";
    
            document.head.appendChild(link);
        }
      </script>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/icon2.png">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- Chartjs CDN to local fallback -->
    <script type="text/javascript">
        window.Chart || document.write('<script src="/Chart.bundle.min.js"><\/script>');
    </script>
    <title>Work Track</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark" id="main-navbar">
        <a class="navbar-brand" href="/home">
            <img src="/icon2.png" width="25" height="25" class="d-inline-block mb-1" alt="">
            Work Track</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link <% if(page === "addwork"){ %> active <% } %>" href="/addwork">Add Work<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if(page === "stats"){ %> active <% } %>" href="/statistics">Your Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if(page === "inspireme"){ %> active <% } %>" href="/inspireme">Inspire Me</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <% if(!currentUser){ %>
                <li class="nav-item">
                    <a class="nav-link <% if(page === "login"){ %> active <% } %>" href="/login">Login<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if(page === "register"){ %> active <% } %>" href="/register">Register</a>
                </li>
                <% } else { %>
                <li class="nav-item px-lg-2">
                    <span class="navbar-text">Logged in as <%= currentUser.username %></span>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
                </li>
                <% } %>
            </ul>
    </nav>
    <% if (alerts.error) { %>
        <% alerts.error.forEach(function(msg) { %>
            <div class="alert alert-danger">
              <%= msg %>
            </div>
        <% }); %>
    <% } %>
    <% if (alerts.success) { %>
        <% alerts.success.forEach(function(msg) { %>
          <div class="alert alert-success"><%= msg %></div>
        <% }); %>
    <% } %>