<%- include('./partials/header', {page: "addwork"}) %>
<div class="container">
    <form class="addform">
        <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" id="title" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" rows="5" id="desc"></textarea>
        </div>
        <div class="button-div">
            <button class="btn btn-primary" id="started" title="Click here when you start working"
            data-user=<%= currentUser._id %>>Start Task</button>
            <button class="btn btn-warning" id="clear" title="Click to clear the data and start over">Clear Data</button>
           </div>
           <!---------stopwatch---------->
           <section class="container">
    <div class="watch">
      <h2 id="watch">00:00:00</h2>
    </div>
</section>
<!-------------stopwatch------------>
    </form>
</div>

    <script>
        const button = document.getElementById('started');
        const clear = document.getElementById('clear');

        clear.addEventListener("click", (e) => {
            if(confirm("Warning, this action will remove all the text data as well as your saved starting and ending time")){
                localStorage.removeItem('startTime');
                localStorage.removeItem('endTime');
                window.location.reload();
            } else {
                e.preventDefault();
            }
        })

        if (localStorage.startTime && !localStorage.endTime) {
            button.innerHTML = "End Task";
            button.title = "Click here when you are done working";
        }

        if (localStorage.startTime && localStorage.endTime) {
            button.innerHTML = "Submit";
            button.title = "Click here to add your work to the records!";
        }

        const watch = document.querySelector('#watch');
let seconds = 0;
let timer;

const startWatch = () => {
  watch.classList.remove('paused');
  clearInterval(timer);
  timer = setInterval(()=>{
    seconds += 10;
    let dateTimer = new Date(seconds);
    watch.innerHTML =
      ('0'+dateTimer.getUTCHours()).slice(-2) + ':' +
      ('0'+dateTimer.getUTCMinutes()).slice(-2) + ':' +
      ('0'+dateTimer.getUTCSeconds()).slice(-2)  ;
  },10);
};

const pauseWatch = () => {
  watch.classList.add('paused');
  clearInterval(timer);
};

document.addEventListener('click', (e) =>{
  const el = e.target;
  if (button.innerHTML === "End Task") startWatch();{
  localStorage.startWatch = new Date();
}
  if (button.innerHTML === "Submit") pauseWatch();{
  localStorage.pauseWatch = new Date();
}


});

        button.addEventListener("click", (e) => {
            e.preventDefault();
            var post = {};

            if (button.innerHTML === "Start Task") {
                button.innerHTML = "End Task";
                button.title = "Click here when you are done with the work";
                localStorage.startTime = new Date();
            }

            else if (button.innerHTML === "End Task") {
                button.innerHTML = "Submit";
                button.title = "Click here to add your work to records";
                localStorage.endTime = new Date();
            }

            else if (button.innerHTML === "Submit") {
                post.title = $('#title').val();
                post.desc = $('#desc').val();
                post.startTime = new Date(localStorage.startTime);
                post.endTime = new Date(localStorage.endTime);
                post.author = button.dataset.user;

                console.log(post); //Here, the post object is defined

                if (!post.title) {
                    return alert("Please fill out the title");
                }

                $.ajax({ url: '/home', type: 'POST', data: { post: post } })
                    .then(res => {
                        window.location = "/home";
                        localStorage.removeItem('startTime');
                        localStorage.removeItem('endTime');
                    })
                    .catch(err => console.log("error", err));
            }
        });
    </script>
<%- include('./partials/footer') %>
