<%- include('./partials/header', {page: "addwork"}) %>

    <div class="container">
        <form class="addform">
            <div class="form-group">
                <label for="exampleInputEmail1">Title</label>
                <input type="text" class="form-control" aria-describedby="emailHelp" id="title" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" rows="5" id="desc"></textarea>
            </div>
            <div class="button-div">
                <button class="btn btn-primary" id="started" title="Click here when you start working"
                data-user=<%= currentUser._id %>>Start Task</button>
                <button class="btn btn-warning" id="clear" title="Click to clear the data and start over" type="button">Clear Data</button>
            </div>
        </form>
    </div>
</div>

    <script>

        // background color to body of addwork page
        document.body.style.background = "#2E8B60";
        
        const button = document.getElementById('started');
        const clear = document.getElementById('clear');

        clear.addEventListener("click", (e) => {
            bootbox.confirm({
                title: "Warning!",
                message: "This action will remove all the text data as well as your saved starting and ending time.",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                confirm: {
                        label: '<i class="fa fa-check"></i> Confirm'
                    }
                },
                callback: function (result) {
                    if(result){
                            localStorage.removeItem('startTime');
                            localStorage.removeItem('endTime');
                            window.location.reload();  
                    } else {
                        e.preventDefault();
                    }
                }
            });
        })

        if (localStorage.startTime && !localStorage.endTime) {
            button.innerHTML = "End Task";
            button.title = "Click here when you are done working";
        }

        if (localStorage.startTime && localStorage.endTime) {
            button.innerHTML = "Submit";
            button.title = "Click here to add your work to the records!";
        }

        button.addEventListener("click", (e) => {
            e.preventDefault();
            var post = {};

            if (button.innerHTML === "Start Task") {
                button.innerHTML = "End Task";
                button.title = "Click here when you are done with the work";
                localStorage.startTime = new Date();
            }

            else if (button.innerHTML === "End Task") {
                button.innerHTML = "Submit";
                button.title = "Click here to add your work to records";
                localStorage.endTime = new Date();
            }

            else if (button.innerHTML === "Submit") {
                post.title = $('#title').val();
                post.desc = $('#desc').val();
                post.startTime = new Date(localStorage.startTime);
                post.endTime = new Date(localStorage.endTime);
                post.author = button.dataset.user;

                console.log(post); //Here, the post object is defined

                if (!post.title) {
                    return bootbox.alert({
                                message: "Please fill out the title.",
                                backdrop: true
                            });
                }

                $.ajax({ url: '/home', type: 'POST', data: { post: post } })
                    .then(res => {
                        window.location = "/home";
                        localStorage.removeItem('startTime');
                        localStorage.removeItem('endTime');
                    })
                    .catch(err => console.log("error", err));
            }
        });
    </script>
<%- include('./partials/footer') %>