<%- include('./partials/header') %>

<div class="container auth-div" id="login-div">
    <form action="/login" method="POST">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" aria-describedby="emailHelp" name="password">
        </div>
        <button class="btn btn-primary">Login</button>
    </form>
</div>


<%- include('./partials/footer') %>