<%- include('./partials/header', {page: 'login'}) %>

<div class="loginPage row">
    <div class="col-md-6 col-12">
        <h1 class="display-4">Login to view and add new work</h1>
        <h3>Do Something Amazing!</h3>
    </div>
    <div class="container auth-div col-lg-3 col-md-4 col-12" id="login-div">
        <form action="/login" method="POST">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" aria-describedby="emailHelp" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <div class="input-group">
                <input type="password" class="form-control" id="txtpassword" aria-describedby="emailHelp" name="password">
                <i class="far fa-eye" id="togglePassword" ></i>
                </div>
            </div>
            <button class="btn btn-primary">
              <a style='color: white' href="/forgot-password">Forgot Password</a>
            </button>
            <button class="btn btn-primary">Login</button>
        </form>
    </div>
    <div class="col-lg-7 col-md-7"></div>
    <div class="d-flex justify-content-center col-lg-5 col-md-5 col-12 p-3">
        <p>Don't have an Account? &nbsp;</p>
        <p><a href="register">Register</a></p>
    </div>
</div>
<script>
const togglePassword = document.querySelector('#togglePassword');
const password = document.querySelector('#txtpassword');
togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});
</script>
<%- include('./partials/footer') %>
