<%- include('./partials/header', {page: 'register'}) %>

<div class="loginPage registerPage row">
    <div class="col-md-6 col-12">
        <h1 class="display-4">New? Sign Up to and start tracking your work</h1>
        <h3>Do Something Amazing!</h3>
    </div>
    <div class="container auth-div register-div">
        <form method="POST" action="/register">
            <div class="form-group">
                <label for="exampleInputEmail1">User Name</label>
                <input type="text" class="form-control" aria-describedby="emailHelp" name="username">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="text" class="form-control" aria-describedby="emailHelp" name="email">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Password</label>
                <div class="input-group">
                <input type="password" class="form-control" id="txtpassword" aria-describedby="emailHelp" name="password">
                <i class="far fa-eye" id="togglePassword" ></i>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Re-Type Password</label>
                <div class="input-group">
                <input type="password" class="form-control " id="txt-re-password" aria-describedby="emailHelp" name="passwordconfirm">
                <i class="far fa-eye" id="toggle-re-Password"></i>
                </div>
            </div>
            <button class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-lg-7 col-md-7"></div>
    <div class = "d-flex justify-content-center col-lg-5 col-md-5 col-12 p-3">
        <p>Already have an account?&nbsp;</p>
        <p><a href="login">Login</a></p>
    </div>
</div>
<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#txtpassword');
    togglePassword.addEventListener('click', function (e) {
         // toggle the type attribute
         const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
         password.setAttribute('type', type);
         // toggle the eye slash icon
         this.classList.toggle('fa-eye-slash');
    });

    const toggleRePassword = document.querySelector('#toggle-re-Password');
    const repassword = document.querySelector('#txt-re-password');
    toggleRePassword.addEventListener('click', function (f) {
         // toggle the type attribute
         const type = repassword.getAttribute('type') === 'password' ? 'text' : 'password';
         repassword.setAttribute('type', type);
         // toggle the eye slash icon
         this.classList.toggle('fa-eye-slash');
    });
</script>
<%- include('./partials/footer') %>
