<%- include('./partials/header', {page: "stats"}) %>

<div class="fix-stats">
    <div class="monthwork">
        <p>Past 30 days work time</p>
        <div  class="font-weight-bold" id="monthly"></div>
    </div>
    <div class="weekwork">
        <p>Past 7 days work time</p>
        <div  class="font-weight-bold" id="weekly"></div>
    </div>
</div>

<div class="chartArea row today">
    <div class="chart-header col-lg-3 col-12">
        <h3 id="todays-work"></h3>
    </div>
    <div class="col-lg-9 col-12">
        <canvas id="pieChart" class="chart" style="position: relative; height:70vh; width:70vw"></canvas>
    </div>
</div>

<div class="chartArea row">
    <div class="chart-header col-lg-3 col-12">
        <h3>The time you spent working in the last 30 days</h3>
    </div>
    <div class="col-lg-9 col-12">
        <canvas id="lineChart" class="chart" style="position: relative; height:75vh; width:70vw"></canvas>
    </div>
</div>

<script>

    // ==================================================================================================
    // FOR THE MONTHLY AND WEEKLY STATS
    const data = <%- JSON.stringify(final) %>;
    const monthly = document.querySelector('#monthly');
    const weekly = document.querySelector('#weekly');
    let monthWork=0,weekWork=0;

    let weekTime = new Date(new Date()-7*24*60*60*1000).setHours(0,0,0,0);
    let monthTime = new Date(new Date()-30*24*60*60*1000).setHours(0,0,0,0);

    for(let i of data){
        if(new Date(i.startTime) >= weekTime){
            weekWork+=Math.round((new Date(i.endTime) - new Date(i.startTime))/6000)/10;
            monthWork+=Math.round((new Date(i.endTime) - new Date(i.startTime))/6000)/10;
        } else if (new Date(i.startTime) >= monthTime) {
            monthWork+=Math.round((new Date(i.endTime) - new Date(i.startTime))/6000)/10;
        }
    }

    monthly.innerHTML = Math.round(monthWork*10/6)/100 + " Hours";
    weekly.innerHTML = Math.round(weekWork*10/6)/100 + " Hours";


    //====================================================================================================
    //FOR THE LINE GRAPH
    const lineChart = document.getElementById('lineChart');

    let linedate = [];
    let linetime = [];

    let count=0;
    for (let i of data) {
        if(count>0 && linedate[count-1] === new Date(i.startTime).toDateString()){
            linetime[count-1]+=Math.round((new Date(i.endTime) - new Date(i.startTime))/6000)/10;
        } else {
            linedate.push(new Date(i.startTime).toDateString());
            linetime.push(Math.round((new Date(i.endTime) - new Date(i.startTime))/6000)/10);
            count++;
        }
    }

    var myLineChart = new Chart(lineChart, {
        type: 'line',
        data: {
            labels: linedate,
            datasets: [{
                label: 'Time Spent Working (in minutes)',
                data: linetime,
                lineTension: 0.3,
                backgroundColor: [
                    'rgba(255, 206, 86, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontSize: 10,
                        autoSkip: false,
                        maxRotation: 70,
                        minRotation: 70
                    }
                }]
            }
        }
    });

    //===================================================================
    //For the doughnut chart
    const pieChart = document.getElementById('pieChart');
    const todayswork = document.getElementById('todays-work');
    const today = document.querySelector(".today");
    let pieTitle=[];
    let pieTime=[];

    for(let num = data.length-1;num>=0;num--){
        let i = data[num];
        if(new Date(i.startTime).toDateString() == new Date().toDateString()){
            pieTitle.push(i.title);
            pieTime.push(Math.round((new Date(i.endTime) - new Date(i.startTime))/6000)/10)
        }
    }

    let pieColors=[];
    for(let i=0;i<data.length;i++){
        let colorString = "rgba(";
        for(let k=0;k<3;k++){
            let num=Math.floor(Math.random()*255 + 1);
            colorString+=num+",";
        }
        colorString+="1";
        colorString+=")";
        pieColors.push(colorString);
    }

    if(pieTitle.length > 0){
        todayswork.innerHTML = "Your Work Today"
        var myPieChart = new Chart(pieChart, {
            type: 'doughnut',
            data: {
                labels: pieTitle,
                datasets: [{
                    hoverBorderWidth: 1,
                    hoverBorderColor: 'black',
                    data: pieTime,
                    lineTension: 0.3,
                    backgroundColor: pieColors,
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 0.5
                }]
            },
            options: {
                maintainAspectRatio: false
            }
        });
    } else {
        today.style.display= "none";
    }
    // =============================================================================================================
</script>

<%- include('./partials/footer') %>