body{
    background: #e2e1e0;
    /* background-color: #353536; */
}

nav{
    font-family: Arial, Helvetica, sans-serif;
}

i{
    padding: 2px 10px;
}

.edit{
    padding-left: 5px;
}

.custom-card{
    padding: 30px;
    /* background-color: #353839; */
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

@media(min-width: 767px){
    .custom-head{
        border-right: 1px solid rgba(155, 153, 153, 0.2);
    }

    .custom-card{
        width: 80%;
        margin: 30px auto;
        padding: 40px;
    }
}

@media(max-width: 767px){
    .custom-head{
        border-bottom: 1px solid rgba(155, 153, 153, 0.2);
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .custom-card{
        margin: 20px;
        text-align: center;
    }
}

.custom-head h3{
    font-size: 1.2rem;
}

.registerPage h1{
    font-size: 2.1rem!important;
}

.loginPage{
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
    border-radius: 5px;
}

.loginPage div h1{
    font-size: 3rem;
    text-align: end;
}

.loginPage div h3{
    font-weight: 200;
    margin: 20px 5px;
    text-align: end;
}

.addform{
    width: 60%;
    margin: 20px auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.display{
    margin: 40px auto;
    width: 70%;
}

.auth-div{
    margin: 0;
    color: black;
    background-color: white;
    padding: 50px 40px;
    border-radius: 2px;
    width: 350px;
    height: 400px;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.register-div{
    height: 500px!important;
}

.auth-div{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.auth-div form input:hover{
    border: 1px solid #858585;
}

.auth-div form button{
    width: 100%;
    margin-top: 20px;
}

.chart-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.chart-header h3{
    font-weight: 400;
    text-align: center;
}

.chartArea{
    margin: 20px;
    padding: 20px 0;
    background-color: #dddddc;
}

@media(max-width: 600px){
    .addform{
        width: 100%;
    }

    .button-div button{
        display: block;
        width: 100%;
        margin: 10px 0;
    }
}

@media(max-width: 768px){
    .chart{
        max-width: 100%;
    }

    .loginPage div h3{
        font-weight: 200;
        margin: 20px 5px;
        text-align: center;
    }

    .loginPage div h1{
        font-weight: 200;
        margin: 20px 5px;
        text-align: center;
    }   
}

@media(max-width: 460px){
    .chartArea{
        margin: 20px 0;
    }

    .chart{
        padding: 0!important;
    }

    .loginPage{
        padding: 20px;
        margin: 10px;
    }
}

@media(max-width: 500px){
    .loginPage div h1{
        font-size: 2rem;
        margin-bottom: 30px;
    }
}

@media(max-width: 900px){
    .registerPage h1,h3{
        text-align: center!important;
    }
}