body{
    background: #e2e1e0;
}

.display{
    margin: 40px auto;
}

.auth-div{
    background-color: white;
    padding: 50px 40px;
    border-radius: 2px;
    width: 350px;
    height: 400px;
    margin: 40px auto;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.auth-div{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.auth-div form input:hover{
    border: 1px solid #858585;
}

.auth-div form button{
    width: 100%;
    margin-top: 20px;
}