.fix-stats {
  width: 40vw;
  background-color: $cw;
  display: flex;
  margin: 2.5rem auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 2.5rem 1.5rem;

  @media(max-width: 460px) {
    width: 90vw;
    padding: 1.5rem;
  }

  & p {
    margin-bottom: .5rem;
  }

  @media(max-width: 600px) {
    width: 70vw;
  }
}

.chart {
  @media(max-width: 768px) {
    max-width: 100%;
  }

  @media(max-width: 460px) {
    padding: 0;
  }
}

.chartArea {
  margin: 1.5rem;
  padding: 1.5rem 0;
  background-color: #dddddc;

  @media(max-width: 460px) {
    margin: 1.5rem 0;
  }
}

.chart-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  & h3 {
    font-weight: 400;
    text-align: center;
  }
}