/*
MEDIA QUERY MANAGER

The conversion is '1em = 16px', and so we are converting 600px, 900px, 1200px and 1800px into ems.

0 - 600px:          Phone
600 - 900px:        Tablet Portrait
900 - 1200px:       Tablet Landscape
[1200 - 1800px]:    Normal CSS Styles
1800px + :          Big Desktop

$breakpoint Argument Choices
- phone
- tab-port
- tab-land
- big-desktop
*/

// @mixin respond($breakpoint) {
//   @if $breakpoint==phone {
//     @media only screen and (max-width: 37.5em) {
//       @content
//     }
//   }

//   @if $breakpoint==tab-port {
//     @media only screen and (max-width: 56.25em) {
//       @content
//     }
//   }

//   @if $breakpoint==tab-land {
//     @media only screen and (max-width: 75em) {
//       @content
//     }
//   }

//   @if $breakpoint==big-desktop {
//     @media only screen and (min-width: 112.5em) {
//       @content
//     }
//   }
// }